{% extends "layout.html" %}
{% block body %}
<section class="next-part--1">
    <div class="container">
        <div class="row u-margin-bottom">
            <div class="content no-margin-top">
                <h1 class="content__heading">
                    {{params["software_and_drivers"]}}</h1><br><br>
            </div>
            <div class="col-10">
                <h2 class="table-main-head">ANDROID BASED SYSTEMS</h2><br>
                <table>
                    <!-- Rows -->
                    <tr>
                        <td>Stereo imaging android app</td>
                        <td><a href="/contact-us" class="btn btn-crimson">Check</a></td>
                    </tr>
                    <tr>
                        <td>Alternate imaging android app for high speed imaging</td>
                        <td><a href="/contact-us" class="btn btn-crimson">Check</a></td>
                    </tr>
                    <tr>
                        <td>Android apps for testing and measurement</td>
                        <td><a href="/contact-us" class="btn btn-crimson">Check</a></td>
                    </tr>
                </table>
            </div>
        </div><br><br>
        <div class="row u-margin-bottom">
            <div class="col-10">
                <h2 class="table-main-head">LASER</h2><br>
                <table>
                    <!-- Rows -->
                    <tr>
                        <td>Laser Diodes 514-532 nm, 476-488 nm, 488-514 nm</td>
                        <td><a href="/contact-us" class="btn btn-crimson">Check</a></td>
                    </tr>
                    <tr>
                        <td>Laser Diode driver modules ns, ps, ms Check</td>
                        <td><a href="/contact-us" class="btn btn-crimson">Check</a></td>
                    </tr>
                    <tr>
                        <td>Laser based stroboscopes</td>
                        <td><a href="/contact-us" class="btn btn-crimson">Check</a></td>
                    </tr>
                    <tr>
                        <td>LED based stroboscope</td>
                        <td><a href="/contact-us" class="btn btn-crimson">Check</a></td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="row u-margin-bottom">
            <div class="col-10">
                <h2 class="table-main-head">FILTER AND OPTICS</h2><br>
                <table>
                    <!-- Rows -->
                    <tr>
                        <td>Notch filters</td>
                        <td><a href="/contact-us" class="btn btn-crimson">Check</a></td>
                    </tr>
                    <tr>
                        <td>Broad band pass filters</td>
                        <td><a href="/contact-us" class="btn btn-crimson">Check</a></td>
                    </tr>
                    <tr>
                        <td>Narrow band pass filters</td>
                        <td><a href="/contact-us" class="btn btn-crimson">Check</a></td>
                    </tr>
                    <tr>
                        <td>Absorptive filters</td>
                        <td><a href="/contact-us" class="btn btn-crimson">Check</a></td>
                    </tr>
                    <tr>
                        <td>Reflective filters</td>
                        <td><a href="/contact-us" class="btn btn-crimson">Check</a></td>
                    </tr>
                    <tr>
                        <td>Varying focus filters</td>
                        <td><a href="/contact-us" class="btn btn-crimson">Check</a></td>
                    </tr>
                    <tr>
                        <td>Dichroic filters</td>
                        <td><a href="/contact-us" class="btn btn-crimson">Check</a></td>
                    </tr>
                    <tr>
                        <td>Varying intensity filters</td>
                        <td><a href="/contact-us" class="btn btn-crimson">Check</a></td>
                    </tr>
                    <tr>
                        <td>Color filters and varying color filters</td>
                        <td><a href="/contact-us" class="btn btn-crimson">Check</a></td>
                    </tr>
                    <tr>
                        <td>UV, IR, VL filters</td>
                        <td><a href="/contact-us" class="btn btn-crimson">Check</a></td>
                    </tr>
                    <tr>
                        <td>Glass prisms</td>
                        <td><a href="/contact-us" class="btn btn-crimson">Check</a></td>
                    </tr>
                    <tr>
                        <td>UV, IR, VL filters</td>
                        <td><a href="/contact-us" class="btn btn-crimson">Check</a></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</section>
{% endblock %}