{% extends "layout.html" %}
{% block body %}

<!-- Contact Form Along With Validation -->
<section class="next-part--1">
    <div class="container">
        <div class="content">
            <h1 class="content__heading patent">{{params["patent_heading1"]}}<br>{{params["patent_heading2"]}}</h1>
            <br><br>
            <p class="content__para--1">
                <span class="patent font-largest">
                    PCT/IN2018/050119 - WO2018/207200 – IN201927039901 – US 16603585 -- GB1914895.6 –IP
                    2017210016596 - Techniques for the characterization of transparent and non-transparent particles
                    using scattered
                    light signals
                </span>
                <span class="patent font-larger">
                    PCT/IN2018/050558 - WO2019/053739 -- IN201927040039 -- US 16603596 -- GB1914934.3—IP201721015412
                    -- R20202012438 -NP 201721016596 - High resolution imaging and object
                    characterization system with ability to transfer the image and data wirelessly over a long
                    distance</span>
                <span class="patent font-large">
                    IP202021017801- 26/04/2020 - A method for the determination of object and surface velocities at
                    different foci created by a transparent object.<br>
                    IP202029021555, 22/05/2020 - A method to Improve the Image quality during high speed imaging and
                    video capturing<br>
                    IP202029027753, 30/06/2020 - A Frequency Slicing Technique for High Resolution Image-Data
                    Transfer at High Speed<br>
                    IP202021017569 - 24/04/2020 - A method of increasing a funnel flow discharge into a vessel – in
                    process for international application.<br>
                    IP202023021511, 22/05/2020 - Mouthpiece of Quick-pour Water Vessel based on a Quick-pour
                    Funnel<br>
                    PCT/IN2018/050820 -- WO/2019/116384 -- IP 201721044672 – IP 202027019771 -- GB2007776.4 -- An
                    instrument for measurement of velocity of light.<br>
            </p>
        </div>
    </div>
</section>
{% endblock %}