{% extends "layout.html" %}
{% block body %}
</div>
<section class="next-part--1">
    <div class="container">
        <div class="row">
            <div class="content no-margin-top">
                <h1 class="content__heading">
                    {{params["software_and_drivers"]}}</h1><br><br>
            </div>

            <div class="col-10 u-margin-bottom">
                <table>
                    <!-- Rows -->
                    <tr>
                        <td>Interface and software for alternate imaging versions</td>
                        <td><a href="/contact-us" class="btn btn-crimson">Check</a></td>
                    </tr>
                    <tr>
                        <td>Interface and software for alternate imaging versions</td>
                        <td><a href="/contact-us" class="btn btn-crimson">Check</a></td>
                    </tr>
                    <tr>
                        <td>Optical ultra-high speed vibrometer software</td>
                        <td><a href="/contact-us" class="btn btn-crimson">Check</a></td>
                    </tr>
                    <tr>
                        <td>Beam scan software</td>
                        <td><a href="/contact-us" class="btn btn-crimson">Check</a></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>APTVM software</td>
                        <td><a href="/contact-us" class="btn btn-crimson">Check</a></td>
                    </tr>
                    <tr>
                        <td>StereoMaster PIV software</td>
                        <td><a href="/contact-us" class="btn btn-crimson">Check</a></td>
                    </tr>
                    <tr>
                        <td>BlurMaster PIV</td>
                        <td><a href="/contact-us" class="btn btn-crimson">Check</a></td>
                    </tr>
                    <tr>
                        <td>IFOF PIV</td>
                        <td><a href="/contact-us" class="btn btn-crimson">Check</a></td>
                    </tr>
                    <tr>
                        <td>Gaussian Corona Based Velocimetry software</td>
                        <td><a href="/contact-us" class="btn btn-crimson">Check</a></td>
                    </tr>
                    <tr>
                        <td>Laser Doppler Velocimetry software</td>
                        <td><a href="/contact-us" class="btn btn-crimson">Check</a></td>
                    </tr>
                    <tr>
                        <td>Phase Doppler Velocimetry software</td>
                        <td><a href="/contact-us" class="btn btn-crimson">Check</a></td>
                    </tr>
                    <tr>
                        <td>TST software</td>
                        <td><a href="/contact-us" class="btn btn-crimson">Check</a></td>
                    </tr>
                </table>
            </div>
        </div><br><br>
</section>
{% endblock %}